server:
  port: 8080

spring:
  application:
    name: segmentation-service
  profiles:
    active: local

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
